<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h2>All Users</h2>
        <table>
            <tr><th>Name</th><th>Email</th><th>Role</th></tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>